<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/style.css}">
    <script type="text/javascript" th:src="@{/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/cookieutils.js}"></script>
    <script type="text/javascript" th:src="@{/xox.js}"></script>
    <script type="text/javascript" th:src="@{/md5.js}"></script>
    <script type="text/javascript" th:src="@{/asyncGet.js}"></script>
    <title>Xox</title>
</head>
<body onload="verifyGameExists()">
<div id='xox-container' class="container">
    <h1 class="title">X<span>O</span>X</h1>
    <div class="status-div">
        <div class="status-text" id="status-bar"></div>
    </div>
    <div class="game-grid">
        <div id='00' class="game-cell"></div>
        <div id='10' class="game-cell"></div>
        <div id='20' class="game-cell"></div>
        <div id='01' class="game-cell"></div>
        <div id='11' class="game-cell"></div>
        <div id='21' class="game-cell"></div>
        <div id='02' class="game-cell"></div>
        <div id='12' class="game-cell"></div>
        <div id='22' class="game-cell"></div>
    </div>
</div>
</body>
</html>
